/*------------------------------------------------------------*/


/*								Breadcrumbs													*/


/*-----------------------------------------------------------*/


.summonBreadcrumbs {
    list-style: none;
    padding: 0;
    margin: -10px 10px 10px;
}

.summonBreadcrumbs>li {
    display: inline-block;
}

.summonBreadcrumbs>li+li:before {
    content: "\003e";
    padding: 0 5px;
    color: #000000;
}

.summonBreadcrumbs>li>a {
    font-size: 13px;
    color: #000000;
    opacity: 0.9;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: underline;
}
